@import '@/assets/styles/colors.scss';

#animated-card {
  width: 200px;
  aspect-ratio: 1/1.15;

  @media( max-width: 480px ) {
    width: 100%;
    aspect-ratio: 1/1.25; 
  }
  @media( max-width: 400px ) {
    aspect-ratio: 1/1.45; 
  }
  @media (max-width: 690px) and (min-width: 576px){
    width: 100%;
    aspect-ratio: 1/1.4; 
  }
  @media (max-width: 400px) {
    aspect-ratio: 1/1.50; 
  }
  @media (max-width: 360px) {
    aspect-ratio: 1/1.9; 
  }
}

#card-component {
  border: solid 3px $g-300;
  border-radius: 8px;
  height: 100%;
  transition: all .2s ease-in-out;

  &.Male {
    background-color: $male;
  }
  &.Female {
    background-color: $female;
  }
  &.Genderless {
    background-color: $genderless;
  }
  &.unknown {
    background-color: $gender-unknown;
  }
  &:hover {
    box-shadow: 0px 0px 20px 2px $g-500;  
  }

  img {
    margin-top: -25px;
    margin-bottom: 10px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: center;
  
    @media( max-width: 500px ) {
      width: 100px;
      height: 100px;
    }
  }

  #status::before {
    content: "•"; 
    font-size: 2.8rem;
    margin-right: 3px; 
    vertical-align: middle;
  }
  #status.Alive::before {
    color: $alive;
  }
  #status.Dead::before {
    color: $dead;
  }
  #status.unknown::before {
    color: $state-unknown;
  }
}

//animations
#animated-card:hover .card-animation {
    perspective: 1000px;
    transform-style: preserve-3d;
    animation: rotateY 2s linear infinite; 
}

@keyframes rotateY {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}