@import '@/assets/styles/colors.scss';

//custom-utilies
.w-80 {
  width: 80% !important;
}
.w-sm-80 {
  @media (max-width: 576px) {
    width: 80% !important;
  }
}

//Viewport
#side-bar-component {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: $primary-color;
  z-index: 1;

  @media (min-width: 992px) {
    background: linear-gradient(to right, rgb(10, 38, 41), transparent) !important;
  }
  @media (min-width: 576px) {
    background: linear-gradient(to right, rgb(10, 38, 41) 98%, transparent);
  }

  @media (max-width: 992px) {
    position: absolute;
    max-width: 380px;
    height: 100vh;
    left: -380px;
    transition: left 0.5s ease-in-out;

    &.active {
      left: 0;
    }
  }
  @media (max-width: 575px) {
    width: 100%;
    max-width: 575px;
    left: -575px;
  }

  #collapse-button {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    display: none;

    @media (max-width: 992px) {
      display: flex;
    }
  }

  #side-bar-container {
    max-width: 300px;

    @media (max-width: 340px) {
      padding: 0 20px !important;
    }
  }
}