//primary-colors
//background-color: #0A2629;

//background-colors
$bg-900: rgb(39, 43, 51);
$bg-700: rgb(14, 55, 59);
$bg-500: rgb(64, 119, 114);
$bg-300: rgb(13, 124, 133);
$bg-100: rgb(76, 181, 195);
$bg-50: rgb(135, 209, 219);

//text-colors
$t-black: rgb(0, 0, 0);
$t-white: rgb(255, 255, 255);
$t-gray: rgb(180, 200, 200);

//accent-colors-green
$g-500: rgb(157, 198, 142);
$g-300: rgb(193, 213, 100);
$g-100: rgb(240, 225, 74);
